CMakeCache.txt
CMakeLists.txt.user
CMakeFiles/
cmake_install.cmake
__pycache__
_out64
out32/*
out64/*
*.o
*.d
*.so
*.so.*
*.csv
*.pyc
*.sln
*.suo
*.sdf
*.vcproj
*.vcxproj
*.filters
*.config
*.creator
*.creator.user
*.includes
*.files
*build*
External/glslang
External/googletest
